.table{
    box-shadow: 5px 5px 5px grey;
    width: 500px;
    border: solid 4px black;
    margin: auto;
}

.thead th{
    border: solid 1px black;
    text-align: right;
    background: linear-gradient(black,#f26316);
    color: white;
    text-shadow: 3px 3px 3px black;
}

.tbody td{
    text-align: left;
    border: 1px solid black;
    
}

.tbody tr{
    background-color:black;
    color: white;
}
.tbody tr:hover{
    background-color: #f26316;
}

.taille-th{
    width: 200px;
}

.td-droite{

    text-align: right;
}