@font-face
{
    font-family: 'starjedi_special_editionRg';
    src: url(posith/stjedise-webfont.woff2) format('woff2'),
         url(posith/stjedise-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
	background: url(sithmage/fondvador.jpg);
	font-family: starjedi_special_editionRg, Arial, Verdana, sans-serif;
	color: black ;
    width: auto;
    height: auto;
    margin: auto;
    word-wrap: break-word;
    
}

header
{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 3%;

}

header img
{
    position: absolute;
    left: 85%;  
    border: 4px yellow groove;  
}

section
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 12%;
}
section div
{
    padding: 1%;
    margin: 1%;
    width: 30%;
    
    

}

aside
{
    display: flex;
    flex-direction: column;
}

footer
{
    text-align: center;
    margin-top: 5%; 
    
    

    
}
#bordure
{
    position: absolute;
    width: 10%;
    height: 100%;
    background-image: url(sithmage/lizvador.jpg);
    
}



/*----------petites résolutions----------*/



@media screen and (max-width: 1280px)
{


    #bordure
    {
        display: none;
    }

    body
    {
        display: flex;
        flex-direction: column;
    }

    header
    {
        display: flex;
        flex-direction: column;
        margin: auto;

    }

    header img
    {
       position: relative; 
       left: 10%;

    }

    section
    {
        display: flex;
        flex-direction: column;
    }

    section div
    {
        width: auto;
    }


}